@model CognitoUserManager.Contracts.DTO.ChangePwdModel

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="col-md-12">
            <form method="POST">
                <div class="form-group">
                    <label asp-for="EmailAddress" class="form-label">EmailAddress</label>
                    <input class="form-control" asp-for="EmailAddress" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="CurrentPassword" class="form-label">Current Password</label>
                    <input type="password" class="form-control" asp-for="CurrentPassword" required>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="form-label">New Password</label>
                    <input type="password" class="form-control" asp-for="NewPassword" required>
                </div>
                <button class="btn btn-primary" type="submit">Change Password</button>
            </form>
        </div>
    </div>
</div>