@model CognitoUserManager.Contracts.DTO.UserConfirmSignUpModel

@{
    var userId = TempData["UserId"];
    var email = TempData["EmailAddress"];
}

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="col-md-12">
            <form method="POST">
                <input type="hidden" asp-for="UserId" value="@userId" />
                <div class="form-group">
                    <label asp-for="EmailAddress" class="form-label">EmailAddress</label>
                    <input class="form-control" asp-for="EmailAddress" value="@email" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmationCode" class="form-label">ConfirmationCode</label>
                    <input class="form-control" asp-for="ConfirmationCode" required>
                </div>
                <button class="btn btn-primary" type="submit">Complete Signup</button>
            </form>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <a asp-action="Login">Login</a>
                </div>
                <div class="col-md-6">
                    <a asp-action="ForgotPassword">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</div>