@model CognitoUserManager.Contracts.DTO.InitForgotPwdModel

<div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-6">
        <div class="container-fluid">
            <form method="post">
                <div class="form-group">
                    <label asp-for="EmailAddress" class="form-label">EmailAddress</label>
                    <input asp-for="EmailAddress" type="email" class="form-control" required placeholder="Enter your EmailAddress" />
                </div>
                <button type="submit" class="btn btn-primary">Get Code</button>
            </form>
        </div>
    </div>
</div> 